@page
@model MyWebsite_V1._0.Pages.AboutModel
@{
    ViewData["Title"] = "About";
}

<div class="hero">
    
    <h1 class="hero-title">About</h1>
    <br />
    <div class="hero-headshot">
        <img src="~/img/headshot.jpg" alt="Benjamin Titzer headshot" class="headshot" asp-append-version="true" />
    </div>
    <br />
    <h2 class="hero-about">
        I am a senior Computer Science major at the University of Southern Indiana and currently serve as a Student Project Technician at the Center for Applied Research. I am passionate about bridging the gap between academic knowledge and real-world application, leveraging both theoretical foundations and practical experience to deliver innovative, efficiency-driven solutions.
        With a forward-thinking mindset and commitment to continuous growth, I actively explore emerging technologies to drive meaningful impact in dynamic environments. My goal is to contribute to advancements in the tech landscape by integrating creativity, problem-solving, and technical expertise where academia meets industry.
    </h2>
</div>
